@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.App {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  background-color: #d6e3ff;
  color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  color: #61dafb;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  margin-top: 4%;
}

.App-link a {
  color: #4eb5d1;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-footer {
  background-color: #282c34;
  color: #61dafb;
  max-height: 15vh;
  font-size: calc(2px + 2vmin);
  margin-top: 4%;
  padding: 1%;
}

.App-Projects h2 {
  font-size: calc(8px + 2vmin);
  margin-bottom: calc(1px + 1vmin);
}

.App-Projects p {
  text-align: justify;
  margin: 0 15% 4% 15%;
  font-size: calc(3px + 2vmin);
}

.App-hello {
  margin: 4%;
}

.App-hello h2, p {
  margin: 0%;
  padding: 0% 0% 0.5% 0%;
}

.botao {
  
}

.contador {

}